table {
    border-collapse: collapse;
    width:100%;
  }
  
  table, th, td {
    border: 1px solid black;
    padding:5px;
  }

  tr:hover{
      background-color: lightgrey;
  }

  #PHS_OP{
    background-color: #fff200;
  }

  .no-print{
      display:none;
  }